<div class="w-25 border p-3 ms-2">
  <%= form_with url: password_reset_path do |form| %>
    <p>登録しているメールアドレスを入力してください</p>
    <div class="form-group">
      <%= form.label :email, User.human_attribute_name(:email) %>
      <%= form.text_field :email, class: "form-control mb-3"  %>
    </div>
    <%= form.submit '送信', class:'btn btn-primary d-block mx-auto' %>
  <% end %>
</div>